    <form action="" method="get" id="form" style="display:none;" class="well">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h3>Форма для отзыва</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <input type="text" placeholder="Имя" name="uname"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <input type="email" placeholder="Почта" name="uemail"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <textarea name="umessage"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <input type="submit" value="Отправить" onclick="submit();" style="width:50%;"/>
            <a href="#" onclick="submit();" style="margin:2%;">Закрыть</a>
            <a href="/comments/" style="margin:2%;">Все отзывы</a>
        </div>
    </div>
    </form>
