#tmp_image {
    width: auto;
    height: auto;
    max-width:  600px;
    max-height:  600px;
    position: relative;
    top: auto;
    left:auto;
    right: auto;
    z-index: 1000;
}
#main_image{
    max-width: 400px;
    max-height: 400px;
    text-align: center;
    vertical-align: middle;
    margin:auto;
    /*margin-bottom:100px;*/
}
.well > h4{
    font-weight: bolder;
    font-family: 'Garamond', serif !important;

}
#main {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    vertical-align: middle;
    top:auto;
    left: auto;
    right: auto;
}

#cook{
    width:  auto;
    height: auto;
    text-align: center;
}
#cook, #cook:visited{
    color: #c60!important;
}
#cook:hover{
    color: #fb0 !important;
}

#tmp_div{
    top: 50px;
    width: 600px;
    height: 600px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    right: 80px;
    bottom: 0;
    left: 80px;
    margin: auto;
    z-index: 1000;
    overflow:hidden;
}
#blacken{
    background-color: #000;
    height: 100%;
    left: 0;
    opacity:0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#help {
    position: absolute;
    text-align: center;
    margin: auto;
    right: 80px;
    bottom: 0;
    left: 80px;
    z-index: 1001;
}
#loader {
    padding: 180px 180px;
    width: auto;
    height: auto;
    position: absolute;
    top: auto;
    left:auto;
    right: auto;
    vertical-align: middle;
    z-index: 1000;
}
