.navbar {
    font-family:        'Consolas', 'Menlo', monospace !important;
    background:         #232 !important;
    font-weight:        bold;
    font-size:          16px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color:   #232 !important;
    color:              #cfc !important;
}

.well {
    background-color:   #d9dfd9 !important;
    border-color:       #b9bfb9 !important;
}

a:visited, a {

    text-decoration:    none;
    color:              #585 !important;
}

.avaimg {
    float: left;
    padding-right:      10px;
    padding-bottom:     10px;
    margin:             5px;
}

.icon-bar {
    background-color:   #585;
}

#tbutton {
    border-color:       #585;
}

body {
    background:         #c9cfc9 !important;
    font-family:        'Garamond', serif !important;
    padding-top:        50px;

}

body > .container{
    background:         #c9cfc9;
}

article {
    font-size:          16px !important;
}

.footer {
    bottom:             0px !important;
}

hr {
    border-style:       solid none none;
    border-color:       #dadfda !important;
}

.bbblock {
    border:             1px solid #232;
    text-align:         center;
    background-color:   #999f99 !important;
    width:              90px;
    height:             90px;
    line-height:        90px;
}

.ul > li {
    list-style:         outside none none;
}

li > img {
    max-height:         100%;
    max-width:          100%;
}

.well {
    overflow:           hidden;
}

.well > p {
    text-align:         justify;
}

.ul {
    padding:            0 0 0 0;
    margin:             0 0 0 0;
}
.ul li {
    list-style:         none;
    margin-bottom:      25px;
}
.ul li img {
    cursor:             pointer;

}