{% extends 'error.html' %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>403</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article>
                    Forbidden! It's not for you!
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Return <a href="/">home</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}