{% extends 'error.html' %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>404</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article>
                    The page you were looking for doesn't exist.
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Return <a href="/">home</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}