{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Полезная информация</h1>
                <article class="well">
                    Моё имя Егор. Я  - создатель этого сайта.<br/>
                    Обо мне ничего особенного не скажешь - я студент 3 курса Математико-Механического факультета,
                    живу в городе с июля 1995 года.<br/>
                    В свободное время люблю смотреть сериалы, аниме, играть в PC игры, отчего оценки у меня довольно средние.<br/>
                    Из музыки нравится слушать исполнителей heavy|power|folk metal жанров.<br/>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Контакты</h2>
                <article class="well">
                    Меня часто можно встретить под ником biospore.
                    Имеют место профили <a href="https://vk.com/hsxrjd">VK</a>, и, кому интересно, <a href="http://myanimelist.net/profile/Biospore">MAL</a>.<br/>
                    Если кто-то хочет написать мне на почту - <a href="mailto:biospore@hackerdom.ru">welcome</a>!
                </article>
            </div>
        </div>
    </div>
{% endblock %}