{% extends "base/layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

        <div class="row">
            <div class="col-md-8 col-xs-12 col-sm-12">
                <article class="well">
                    <h2>Полезная информация</h2>
                    <p>
                    <img src="{{ url_for('static', filename='avatar.png') }}" alt="Image Not Found" class="avaimg"/>
                    Моё имя Егор. Я  - создатель этого сайта.<br/>
                    Обо мне ничего особенного не скажешь - я студент 3 курса
                    <a href="http://imkn.urfu.ru" target="_blank">Математико-Механического</a> факультета
                    <a href="http://urfu.ru" target="_blank">УрФУ</a>,
                    живу в городе с июля 1995 года.<br/>
                    В свободное время люблю смотреть сериалы, аниме, играть в PC игры, отчего оценки у меня довольно средние.<br/>
                    Из музыки нравится слушать исполнителей heavy|power|folk metal жанров.
                    </p>

                </article>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12 col-sm-12">
                <article class="well">
                    <h3>Контакты</h3>
                    <p>Меня часто можно встретить под ником biospore.
                    Имеют место профили <a href="https://vk.com/hsxrjd" target="_blank">VK</a>, и, кому интересно,
                    <a href="http://myanimelist.net/profile/Biospore" target="_blank">MAL</a>.<br/>
                    Если кто-то хочет написать мне на почту - <a href="mailto:biospore@hackerdom.ru">welcome</a>!
                    </p>
                </article>
            </div>
        </div>

{% endblock %}