{% extends "base/layout.html" %}

{% block title %}Comments DB{% endblock %}
{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/ajax.js')}}"></script>
<script>
    setTimeout("loadComment('comments.xml')", 1);
</script>
<style>
.textmess {
    background-color:lightgrey;
    color:black;
    text-align:left;
    word-wrap: break-word;
    word-break:break-all;
}
</style>
{% endblock %}
{% block content %}
{% if comments %}
<ul class="list-group" id='comms'>
    {% for comment in comments %}
    <a href="#" class="list-group-item">
        <p class="list-group-item-heading" style="text-align:left;">{{comment[0]|safe}} ({{comment[1]|safe}})</p>
        <p class="list-group-item-text textmess">{{comment[2]|safe}}</p>
    </a>
    {%endfor%}
</ul>
{% else %}
    <p>No comments! Sorry!</p>
{% endif %}
{% endblock %}
