{% extends "base/layout.html" %}

{% block title %}Gallery{% endblock %}

{% block head %}

<style type="text/css">
#tmp_image {
    width: auto;
    height: auto;
    max-width:  600px;
    max-height:  600px;
    position: relative;
    display:none;
    top: auto;
    left:auto;
    right: auto;
    align: center;
    z-index: 1000;
}
.thumb_button {
}
#tmp_div{
    top: 50px;
    width: 600px;
    height: 600px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    right: 80px;
    bottom: 0;
    left: 80px;
    margin: auto;
    z-index: 1000;
    overflow:hidden;
}
#blacken{
    background-color: #000;
    height: 100%;
    left: 0;
    opacity:0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#help {
    position: absolute;
    text-align: center;
    margin: auto;
    right: 80px;
    bottom: 0;
    left: 80px;
    z-index: 1001;
}
#loader {
    padding: 180px 180px;
    width: auto;
    height: auto;
    position: relative;
    top: auto;
    left:auto;
    right: auto;
    vertical-align: middle;
    z-index: 1000;
}
</style>
<script type="text/javascript">
var images = [];
var current = '';
{% for image, thumb in gallery %}
images.push('{{image}}');
{% endfor %}

function clear_url(){
    var re = /(.*)\?/;
    var url = window.location.href.toString();
    var news = url.match(re)[1];
    window.history.replaceState({}, document.title, news);
    return;
};

function insert_loader(obj){
    var ldr = document.createElement('img');
    ldr.setAttribute('id', 'loader');
    ldr.setAttribute('alt', 'loader.gif');
    ldr.setAttribute('src', "{{url_for('static', filename='pika.gif')}}");
    ldr.setAttribute('style', 'display:block;');
    var par = obj.parentNode;
    par.appendChild(ldr);
    return;
};

function del_loader(){
    var ldr = document.getElementById('loader');
    ldr.setAttribute('style', 'display:none;');
    var par = ldr.parentNode;
    var img = document.getElementById('tmp_image');
    img.setAttribute('style', 'display:block;');
    return;
};

document.onkeypress = function(evt) {
    evt = evt || window.event;
    if (evt.keyCode == 27) {
        var el = document.getElementById('tmp_div');
        if (el){
            var par = el.parentNode;
            par.removeChild(el);
            current = '';
            clear_url();
        }
        var el = document.getElementById('help');
        if (el) {
            var par = el.parentNode;
            par.removeChild(el);
        }
    }
    else if (evt.keyCode == 112) {
        help();
    }
    else if (evt.keyCode == 37){

        if (current != ''){
            var len = images.length;
            var pos = search(current, images);
            if (pos == 0){
                pos = len - 1;
            }
            else {
                pos -= 1;
            }
            var img = document.getElementById('tmp_image');
            var par = img.parentNode;
            par.removeChild(img);
            var img = document.createElement('img');
            img.setAttribute('id', 'tmp_image');
            img.setAttribute('onload', 'javascript:del_loader();');
            img.setAttribute('src', '/static/' + images[pos]);
            img.setAttribute('alt', '/static/' + images[pos]);
            current = '/static/' + images[pos];
            document.location = '?current='+images[pos];
            par.appendChild(img);
            insert_loader(img);
        }
    }
    else if (evt.keyCode == 39){
        if (current != ''){
            var len = images.length;
            var pos = search(current, images);
            if (pos == len - 1){
                pos = 0;
            }
            else {
                pos += 1;
            }
            var img = document.getElementById('tmp_image');
            var par = img.parentNode;
            par.removeChild(img);
            var img = document.createElement('img');
            img.setAttribute('id', 'tmp_image');
            img.setAttribute('onload', 'javascript:del_loader();');
            img.setAttribute('src', '/static/' + images[pos]);
            img.setAttribute('alt', '/static/' + images[pos]);
            current = '/static/' + images[pos];
            document.location  = '?current='+images[pos];
            par.appendChild(img);
            insert_loader(img);
        }
    }
};

function search(element, array){
    var len = array.length;
    for (var i=0; i<len;i++){
        if ('/static/'+array[i] == element){
            return i;
        }
    }
}

function help(){
    var el = document.getElementById('help');
    if (el){
        var par = el.parentNode;
        par.removeChild(el);
        return;
    }
    var txt = document.createElement('p');
    var title = document.createElement('h4');
    txt.innerHTML = 'ESC - return to gallery & exit help.<br/>';
    txt.innerHTML += 'F1 - open|close this dialog.<br/>';
    txt.innerHTML += 'Left arrow - previous image.<br/>';
    txt.innerHTML += 'Right arrow - next image.<br/>';
    title.innerHTML = 'Help';
    var div = document.createElement('div');
    div.setAttribute('class', 'well container');
    div.setAttribute('id', 'help');
    div.appendChild(title);
    div.appendChild(txt);
    document.body.appendChild(div);
};

function clicked(el){
    var el2 = document.getElementById('tmp_image');
    if (el2 === null){
        var img = document.createElement('img');
        var src = el.getAttribute('src');
        current = src;
        img.setAttribute('src', src);
        img.setAttribute('alt', src);
        var par = document.body;
        var div = document.createElement('div');
        var div2 = document.createElement('div');
        var divr = document.createElement('div');
        var divc = document.createElement('div');
        img.setAttribute('id', 'tmp_image');
        img.setAttribute('onload', 'javascript:del_loader();');
        div.setAttribute('class', 'container');
        div.setAttribute('id', 'tmp_div');
        div2.setAttribute('id', 'blacken');
        divr.setAttribute('class', 'row');
        divc.setAttribute('class', 'col-md-12 col-xs-12 col-sm-12');
        divc.setAttribute('style', 'padding: 0!important;');
        divc.appendChild(img);
        insert_loader(img);
        divc.appendChild(div2);
        divr.appendChild(divc);
        div.appendChild(divr);
        div.setAttribute('onclick', 'clicked(this)');
        par.appendChild(div);
    };
    if (el2 != null){
        var el2 = document.getElementById('tmp_div');
        var par = el2.parentNode;
        par.removeChild(el2);
        current = '';
        clear_url();
        };
};
</script>
{% endblock %}

{% block tail %}
<script type="text/javascript">
{% if query %}
    var img = document.createElement('img');
    var src = '/static/{{query}}';
    current = src;
    img.setAttribute('src', src);
    img.setAttribute('alt', src);
    var par = document.body;
    var div = document.createElement('div');
    var div2 = document.createElement('div');
    var divr = document.createElement('div');
    var divc = document.createElement('div');
    img.setAttribute('id', 'tmp_image');
    img.setAttribute('onload', 'javascript:del_loader();');
    div.setAttribute('class', 'container');
    div.setAttribute('id', 'tmp_div');
    div2.setAttribute('id', 'blacken');
    divr.setAttribute('class', 'row');
    divc.setAttribute('class', 'col-md-12 col-xs-12 col-sm-12');
    divc.setAttribute('style', 'padding: 0!important;');
    divc.appendChild(img);
    insert_loader(img);
    divc.appendChild(div2);
    divr.appendChild(divc);
    div.appendChild(divr);
    div.setAttribute('onclick', 'clicked(this)');
    par.appendChild(div);
{% endif %}
</script>
{% endblock %}

{% block content %}
    <ul class="row ul">
        {% for image, thumb in gallery %}
            <li class="col-md-3 col-xs-3 col-sm-3" style="display:inline-block;text-align:center;height:150px;">
                <a onclick="return clicked(this);" class="thumb_button" href="?current={{image}}" src="{{ url_for('static', filename=image) }}" style="">
                    <img src="{{url_for('static', filename=thumb) }}" alt="Image Not Found" style="position:relative; display:inline-block;vertical-align:middle;"/>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
